<%

	var req_path = req.path;
	
	var task = {};
	sails.config.tasks.forEach(function(t){
		if(t.config.slug==req.params.slug)
			task = t;
	})
	var folder_path=task.path.replace(sails.config.microlight.task_folder+'/','').replace('/'+task.file,'').split('/');

%>
<div class='ui basic segment container'>
	<div class="ui breadcrumb">
		<a class="section" href='/library'>Library</a>
		<% var path = '/library'%>
		<%folder_path.forEach(function(folder){%>
		<% path +='/'+folder%>
		<i class="right angle icon divider"></i>
		<a class="section" href='<%=path%>'><%=folder%></a>
		<%})%>
		<i class="right angle icon divider"></i>
		<div class="section"><%=task.config.name%></div> 
	</div>
	<h1 style='margin-top:0;'>
		<span style='opacity: 0.5;'>Task: </span><span data-content="<%=task.config.name%>"><%= task.config?.name?.length > 47 ? task.config?.name?.substring(0, 47) + '...' : task.config.name %></span>

		
		<div class="ui violet compact basic icon button right floated dropdown">
			<i class="middle aligned ellipsis vertical icon" style="margin-left: 4px;"></i>
			<div class="menu" style="margin-top: 4px;">
				<div class="item" id="edit_modal">
					<i class="edit icon"></i> Edit
				</div>
			</div>
		</div>
		
		
	</h1>
	<div class='ui grid'>
		<div class='eight wide column'>
			<h3>Inputs:</h3>
			<div class='ui segment'>
				<form action="/task/<%=req.params.slug%>/execute" method="post" class='ui <%-req.query.error?"req.query.error":""%> form' enctype="multipart/form-data">
					<div class="ui error message">
						<div class="header">Please correct error in form</div>
						<p><%-req.query.error%></p>
					</div>
					<% Object.keys(task.config.inputs).forEach(function(key){%>
						<%- include('partials/input',{input:{key,config:task.config.inputs[key]}})%>
					<%})%>
					
					<input type="submit" class='ui violet button' id='execute_task' value="Execute task">
				</form>
			</div>
			<h3>Schedule:</h3>
			<%if(task.config?.schedule){%>
			<table class="ui celled unstackable collapsing compact table">
			    <thead>
			        <tr>
			            <th>Cron Time</th>
			            <th>Timezone</th>
			            <th>Next run</th>
			        </tr>
			    </thead>
			    <tbody>
			    	<tr>
			    		<td><%=task.config?.schedule?.crontime %></td>
			    		<td><%=task.config?.schedule?.timezone%></td>
			    		<td><%=moment(new Date(task?.cronjob?.nextDate()))?.fromNow()%></td>
			    	</tr>
			    </tbody>
			</table>
			<%}else{%>
			This task is not scheduled
			<%}%>
		</div>
		<div class='eight wide column'>
			<h3>Docs:</h3>
			<div class='ui segment'>
				<%- md.render(GeneralService.cleanMD(task?.config?.docs||'Task documentation missing'))%>
			</div>
		</div>
	</div>
	
	<h3>Recent runs:</h3>
	<table class="ui celled unstackable collapsing table">
	    <thead>
	        <tr>
	            <th>Date</th>
	            <th>ID</th>
	            <th>Status</th>
	            <th>Duration</th>
	            <th>By</th>
	            <th>User</th>
	        </tr>
	    </thead>
	    <tbody>
	    	<%runs.forEach(function(run){%>
	        <tr>
	            <td><%=moment(run.createdAt).format('MMM Do YY h:mm a')%></td>
	            <td><a href='/task/<%=run.task%>/run/<%=run.id%>'><%=run.task%> #<%=run.id%></a></td>
	            <td class="<%=run.status=='succeeded'?'positive':(run.status=='failed'?'negative':'warning')%>"><%=run.status%></td>
	            <td class='right aligned'><%=run?.duration?.toFixed(1)%>s</td>
	            <td><%=run.by%></td>
	            <td><%=run?.user?.name%></td>
	        </tr>
	        <%})%>
	    </tbody>
	</table>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('#execute_task').click(function(){
			$('form').addClass('loading');
		})
	})
</script>
