<%

	var req_path = req.path;
	
	var task = {};
	sails.config.tasks.forEach(function(t){
		if(t.config.slug==req.params.slug)
			task = t;
	})
	var folder_path=task.path.replace(sails.config.microlight.task_folder+'/','').replace('/'+task.file,'').split('/');

%>
<style>
	code {
		font-family: Consolas,"courier new";
		color: crimson;
		background-color: #f1f1f1;
		padding: 2px;
/*		font-size: 105%;*/
	}
</style>
<div class='ui basic segment container'>

	<div class="ui breadcrumb">
		<a class="section" href='/library'>Library</a>
		<% var path = '/library'%>
		<%folder_path.forEach(function(folder){%>
		<% path +='/'+folder%>
		<i class="right angle icon divider"></i>
		<a class="section" href='<%=path%>'><%=folder%></a>
		<%})%>
		<i class="right angle icon divider"></i>
		<a class="section" href='/task/<%=req.params.slug%>'><%=task.config.name%></a>
		<i class="right angle icon divider"></i>
		<div class="section"><%=run.id%></div> 
	</div>
	<h1 style='margin-top:0;'>
		<span style='opacity: 0.5;'>Task Run: </span><span data-content="<%=task.config.name%>"><%= task.config?.name?.length > 47 ? task.config?.name?.substring(0, 47) + '...' : task.config.name %> #<%=run.id%></span>
		
		<div class="ui violet compact basic icon button right floated dropdown">
			<i class="middle aligned ellipsis vertical icon" style="margin-left: 4px;"></i>
			<div class="menu" style="margin-top: 4px;">
				<div class="item" id="edit_modal">
					<i class="edit icon"></i> Edit
				</div>
			</div>
		</div>
		<a class="ui violet compact basic button right floated" href='/task/<%=req.params.slug%>'>
			<i class="file icon"></i> 
			Run again ...
		</a>
		
	</h1>
	<div class='ui stackable grid'>
		<div class="eight wide column">
			<table class="ui celled unstackable collapsing compact table">
			    <tbody>
			    	<tr>
			    	    <td class='center aligned'><b>Run started at</b></td>
			    	    <td class='center aligned'><b>By User</b></td>
			    	    <td class='center aligned'><b>Status</b></td>
			    	    <td class='center aligned'><b>Duration</b></td>
			    	</tr>
			        <tr>
			            <td class=''><%=run?.createdAt?.toISOString().substring(0,10)%><br><%=run?.createdAt?.toISOString().substring(11,19)%></td>
			            <td class='center aligned'><%=run?.user?.name%></td>
			            <td class="<%=run.status=='succeeded'?'positive':(run.status=='failed'?'negative':'warning')%>"><%=run.status%></td>
			            <td class='right aligned'><%=run?.duration%>s</td>
			        </tr>
			    </tbody>
			</table>
		</div>
		<div class="eight wide column">
			<h3>Docs:</h3>
			<div class='ui segment'>
				<%- md.render(GeneralService.cleanMD(task?.config?.docs||'Task documentation missing'))%>
			</div>
		</div>
		
	</div>
	
	
	<div class="ui divider"></div>
	<% 
	var inputs = Object.keys(run.inputs);
	if(inputs.length) {%>
	<h3>Inputs:</h3>
	<div class='ui segment'>
		<% inputs.forEach(function(i){ %>
			<%
				var value = run.inputs[i]
			%>
			<%=p %>: <code><%= typeof value == 'object' ? value.filename:value  %></code><br>
		<% }) %>
	</div>
	<%}%>

	<h3>Logs:</h3>
	<!-- <%run.logs.forEach(function(log){%>
        <span style="color: #aaaaaa;"><%=log.timestamp%>:</span> <%=log.text%><br>
    <%})%> -->
	<div class='ui segment'>
		
	
	<table class="ui very basic compact unstackable table" style="display: block;overflow: auto;">
	    <tbody>
			<%run.logs.forEach(function(log){%>
	        <tr>
	            <td class='single line top aligned'><%=log.timestamp.substring(11,19)%></td>
	            <td >
	            	<%if(log.markdown){%>
	            	<div class='ui info message'>
	            		<%-log.markdown%>
	            	</div>
	            	<%}else if(log.json){%>
	            		<pre class="json-renderer" style="padding:0px;margin:0px"><%=JSON.stringify(log.json,2,2)%></pre>
	            	<%}else if(log.error){%>
	            		<div class='ui error message'>
	            			<h4><%-log.text%></h4>
	            			<%if(log.text!=log.error){%>
	            				<pre style="margin-top: 0px;"><%-log.error%></pre>
	            			<%}%>
	            		</div>
	            	<%}else{%>
	            		<pre><%=log.text%></pre>
	            	<%}%>
	            </td>
	        </tr>
	        <%})%>
	    </tbody>
	</table> 
	</div>
</div>
<script type="text/javascript">
	$('document').ready(function(){
		$('pre.json-renderer').each(function(i){
			console.log('hi');
			console.log();
			var data = $($('pre.json-renderer')[i]).text();
			$($('pre.json-renderer')[i]).jsonViewer(JSON.parse(data),{collapsed:true,rootCollapsable:false});
		});
		$('.ui.button').click(function(){
			$(this).addClass('loading').addClass('disabled');
		})
		// console.log(data);
    	// $('#json-renderer').jsonViewer(JSON.parse(data),{collapsed:true,rootCollapsable:false});
	})
</script>
